@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgba(15, 15, 15, 0.986);
}

.shadow-bg {
  box-shadow: inset 0rem 10rem 10rem rgba(0, 0, 0, 0.8),
    inset 0rem -25rem 10rem rgba(0, 0, 0, 1);
}

.btn-red {
  background-color: #e50000;
}

.text-red {
  color: #e50000;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 20%;
  /* margin-right: 20px; */
}

.shadow-red-card {
  background: rgb(2, 0, 36);
  background: -moz-linear-gradient(
    36deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(10, 0, 0, 1) 72%,
    rgba(0, 0, 0, 1) 74%,
    rgba(255, 0, 0, 0.23573179271708689) 100%
  );
  background: -webkit-linear-gradient(
    36deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(10, 0, 0, 1) 72%,
    rgba(0, 0, 0, 1) 74%,
    rgba(255, 0, 0, 0.23573179271708689) 100%
  );
  background: linear-gradient(
    36deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(10, 0, 0, 1) 72%,
    rgba(0, 0, 0, 1) 74%,
    rgba(255, 0, 0, 0.23573179271708689) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#ff0000",GradientType=1);
}

.bg-accordion {
  box-shadow: rgba(255, 0, 0, 0.603) 0px -20px 36px -28px inset;
}
